
*{
    font-family: "Inter", sans-serif;
}
body{
  background-image: url('wallpapers/frogger\ wallpaper\ 3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.barra{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: -2px;
    width: 100%;
    padding: 6px;
    height: 40px; /* Altura da barra, ajuste conforme necessário */
    background-color: #333; /* Cor de fundo da barra */
    flex-direction: row;

}

.taskbar {
    display: flex;
     /* Distribui os itens igualmente */
    justify-content: center ;
    color: #fff;
    margin-left: 575px;
    margin-right: 570px;
    display: flex;
    flex-direction: row;
  }
  
  /* Estilo dos itens dentro da barra de tarefas */
  .taskbar-item {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }
  
  /* Ajuste os estilos de hover pra dar feedback visual */
  .taskbar-item:hover {
    background-color: #555;
   
  }

  .info{
    background-color: #acacac;
    padding: 5px;
    border-radius: 5px;
    display: grid;
  }

  .horario{
    display: flex ;
    color: #fff;
    flex-wrap: wrap;
  }
  #data{
    color: #fff;
    display: flex;
  }


  svg{
    width: 30px;
  }
  
  a > img{
    width: 35px;
    border-radius: 50%;
  }

  #terminal{
    width: 60px;
    margin: -15px;
  }

  #options{
    background-color: #1d1a1ae5;
    width: 600px;
    height: 700px;
    margin: auto;
    border-radius: 40px;
    display: block;
    padding-top: 30px;

    

    
  }

  #apps1{
    text-align: center;
    display: flex;
  }
  
  #apps1 > ul{
    list-style-type: none;
    flex-direction: row;
    display: flex;
  }

  #apps-item > a > img{
    width: 110px;
  }

  #apps2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  #apps2 > ul{
    list-style-type: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-right:35px;
  }

#apps-item2 > a > img{
    width: 55px;
   margin-left: 50px;
   border-radius: 0px;
  }

/* From Uiverse.io by adamgiebl */ 
button {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;

  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  display: flex;
  justify-content:end;
  align-items: end;
  margin-left: 450px;
 

}
button > a{
  color: #82ffc9;
  text-decoration: none;
}

button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}



